@using Redcdn.ClassRoom.Facade;
@using RedCdn.ClassRoom.BMS;
@model PagingQueryResultDto<LiveClassroomModel>
    
@{
    var page = 0;
    int.TryParse(Request.QueryString["page"], out page);
}

<table total-count="@Model.TotalCount" current-page="@page" border="0" cellpadding="0" cellspacing="0" class="grouplist view" id="grouplist" style="margin-right:34px;">
    <thead>
        <tr>
            <td width="78">主讲教室</td>
            <td width="59">年级</td>
            <td width="222" style="width:135px; white-space:normal; word-break:break-all;">课程名称</td>
            <td width="98">上课时间 </td>
            <td width="137">操作</td>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in @Model.Result) {
            <tr>
                <td>@item.ClassRoomName </td>
                <td>@item.GradeName</td>
                <td>@item.CurriculumName</td>
                <td>@item.LiveStreamBeginTime.GetDateTimeFormats('t')[0]</td>
                <td><a id="a=edit" href="@Url.Action("Detail", "liveclassroom", new { page = @page, id = @item.Id })">查看实时直播</a>&nbsp;&nbsp;</td>
            </tr>
        }
    </tbody>
</table>

